@import 'colors.scss';

.pill {
  display: inline-block;
  padding: 2px 8px;
  text-align: center;
  background-color: lighten($semiDark, 15%);
  border-radius: 8px;
  margin: 0 2px;
  font-size: 12px;
}